.containerBoard{
	display:flex;
	flex-direction:row;
	border-style:solid
}

.collumnBox, .box{
	display:flex;
}

.collumnBox{
	flex-direction: column;
}

.box{
	flex-direction:row;
	width: 15px;
	height: 15px
}

.container{
	margin: 0 auto;
	height:fit-content;
	width:fit-content;
}
